<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%highlight(%-5level) - %msg%n</pattern>
        </encoder>
    </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>

</configuration>